.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.landing__container {
    width: 70%;
    margin: 0 auto;
    position: relative;
    height: 90vh;
}
.info__container {
    float: left;
    width: 50%;
    h1 {
        margin-top: 150px;
        font-family: 'Oswald';
        font-size: 3.5rem;
    }
    p {
        color: $darkGrey;
        font-size: 18px;
        font-weight: 700;
    }
    input {
        display: block;
        margin: 30px 0px;
        height: 50px;
        width: 350px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
        padding: 5px 20px;
        ::placeholder {
            color: $lightGrey;
        }
    }
    a {
        display: block;
        text-align: center;
        margin: 10px 0px;
        height: 55px;
        width: 170px;
        padding: 20px 40px;
        background: $purple;
        color: white;
        font-weight: 700;
        font-size: 14px;
        border-radius: 5px;
        box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.15);
    }
}
.content__container {
    width: 50%;
    float: left;
    position: relative;
    .bg__shapes__container {
        position: absolute;
    }
    .content__circle__green{
        position: absolute;
        top: 140px;
        left: 100px;
        width: 260px;
        height: 260px;
        border-radius: 50%;
        box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.25);
        background: linear-gradient(52.27deg, #2E585E 14.81%, #F9E84A 86.16%);
    }
    .content__circle__blue{
        position: absolute;
        top: 280px;
        left: 450px;
        width: 260px;
        height: 260px;
        border-radius: 50%;
        box-shadow: 0px 12px 42px 1px rgba(0, 0, 0, 0.25);
        background: linear-gradient(52.27deg, #2E585E 14.81%, #00F0FF 86.16%);
    }
    .content__tri__blue{
        position: absolute;
        height: 750px;
        width: 750px;
    }
    a {
        position: absolute;
        z-index: 1000;
        height: 300px;
        width: 550px;
        top: 200px;
        left: 100px;
        .filter {
            background: linear-gradient(90deg, rgba(255, 145, 44, 0.87) 0%, rgba(255, 72, 66, 0.25) 100%);
            position: absolute;
            z-index: 1001;
            height: 100%;
            border-radius: 5px;
            width: 100%;
        }
        img {
            border-radius: 5px;
        }
        .container__play__vid {
            height: 70px;
            width: 70px;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 40%;
            text-align: center;
            border-radius: 50%;
            background: white;
            z-index: 1002;
            .container__play__btn {
                width: 0;
                height: 0;
                position: absolute;
                top: 25%;
                right: 15px;
                border: 0 solid transparent;
                border-bottom-width: 17px;
                border-top-width: 17px;
                border-left: 30px solid black;
            }
        }
    }
}
.platforms__container {
    width: 100%;
    position: absolute;
    bottom: 0;
    float: left;
    h6 {
        color: $darkGrey;
        font-family: Open Sans Condensed;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
    }
    ul {
        width: 100%;
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            margin: 10px;
        }
    }
}